## loop(반복문)

- 반복적인 작업을 가능하게 해주는 도구
- list, str, tuple 등 컬렉션 타입의 경우 아이템을 하나씩 순회하면서 사용(for)
- 특정 조건을 만족하는 경우 계속 수행(while)

1. 반복 횟수 알고 있음: for
2. 반복 횟수 모름: while

### 반복문(for)

In [1]:
# 컬렉션 타입을 활용한 반복문
list_a = [1, 2, 3]

for num in list_a:
    print(num)

1
2
3

In [2]:
# range() 함수를 활용한 반복문
# range(1, 11)

for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [6]:
# enumerate() 활용한 반복문
# - 반복 횟수(인덱스) 알고 싶은 경우 사용
a = [7, 8, 9]
for i, val in enumerate(a):
    print(i, val)

0 7
1 8
2 9

In [7]:
# 중첩 for문
for i in range(5):
    for j in range(3):
        print(i, j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2
3 0
3 1
3 2
4 0
4 1
4 2

In [8]:
a = ["A", "B", "C", "D"]
for i, val in enumerate(a):
    print(f"index:{i}, value:{val}")

index:0, value:A
index:1, value:B
index:2, value:C
index:3, value:D

In [13]:
# dict type
a = {
    "korea": "seoul",
    "japan": "tokyo",
    "canada": "ottawa"
}

for key in a:
    print(key)

korea
japan
canada

In [14]:
for value in a.values():
    print(value)

seoul
tokyo
ottawa

In [15]:
for key, value in a.items():
    print(key, value)

korea seoul
japan tokyo
canada ottawa

In [17]:
# break: 반복문 종료
a = [1, 2, 3, 4, 5]

for num in a:
    if num > 3:
        break
    print(num)

1
2
3

In [18]:
# contine: 해당 반복을 건너띄고 다음 반복으로 이동(반복문 종료X)

a = [1, 2, 3, 4, 5]

for num in a:
    if num % 2 == 0:  # 짝수 판별
        continue
    print(num)

1
3
5

### 연습문제

In [3]:
# 문제1. 구구단 출력
# 2 X 1 = 2
# 2 X 2 = 4
# ...
# 2 X 9 = 18

for i in range(1, 10):
    print(f"2 X {i} = {2*i} ")

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

In [8]:
num = int(input("단수: "))

for i in range(1, 10):
    print(f"{num} X {i} = {num*i} ")

단수: 9
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [9]:
# 2단 ~ 9단 출력

# 큰 반복: 2~9 -> 단수
# 작은 반복: 1~9 -> 단수X1 ~ 단수X9
for i in range(2, 10):  # i == 단수
    for j in range(1, 10):
        print(f"{i} X {j} = {num*j} ")

2 X 1 = 9
2 X 2 = 18
2 X 3 = 27
2 X 4 = 36
2 X 5 = 45
2 X 6 = 54
2 X 7 = 63
2 X 8 = 72
2 X 9 = 81
3 X 1 = 9
3 X 2 = 18
3 X 3 = 27
3 X 4 = 36
3 X 5 = 45
3 X 6 = 54
3 X 7 = 63
3 X 8 = 72
3 X 9 = 81
4 X 1 = 9
4 X 2 = 18
4 X 3 = 27
4 X 4 = 36
4 X 5 = 45
4 X 6 = 54
4 X 7 = 63
4 X 8 = 72
4 X 9 = 81
5 X 1 = 9
5 X 2 = 18
5 X 3 = 27
5 X 4 = 36
5 X 5 = 45
5 X 6 = 54
5 X 7 = 63
5 X 8 = 72
5 X 9 = 81
6 X 1 = 9
6 X 2 = 18
6 X 3 = 27
6 X 4 = 36
6 X 5 = 45
6 X 6 = 54
6 X 7 = 63
6 X 8 = 72
6 X 9 = 81
7 X 1 = 9
7 X 2 = 18
7 X 3 = 27
7 X 4 = 36
7 X 5 = 45
7 X 6 = 54
7 X 7 = 63
7 X 8 = 72
7 X 9 = 81
8 X 1 = 9
8 X 2 = 18
8 X 3 = 27
8 X 4 = 36
8 X 5 = 45
8 X 6 = 54
8 X 7 = 63
8 X 8 = 72
8 X 9 = 81
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [12]:
# 문제2. 1~30까지 정수 중 2의 배수 또는 11의 배수를 모두 출력하시오.
for num in range(1, 31):
    if num % 2 == 0 or num % 11 == 0:
        print(num)

2
4
6
8
10
11
12
14
16
18
20
22
24
26
28
30